<%- include("templates/heading")%>
<link rel="stylesheet" href="/css/user.css" />

</head>

<body>
<div class="container text-center">

    <div class="perfil">
        <div class="overlap-group-wrapper">

            <div class="overlap-group p-4 border rounded">
                <a href="/home"><i class="bi bi-chevron-left h5"></i></a>
                <!-- ... (imagen de perfil, si la tienes) ... -->

                <div class="my-3 h5">Nombre(s)</div>
                <input type="text" disabled placeholder="<%= user.name_persona %>" readonly>

                <div class="my-3 h5">Apellidos(s)</div>
                <input type="text" disabled placeholder="<%= user.ap_persona %>" readonly>

                <div class="my-3 h5">Correo electrónico</div>
                <input type="email" disabled placeholder="<%= user.email_persona %>" readonly>

                <div class="my-3 h5">Teléfono</div>
                <input type="tel" disabled placeholder="<%= user.tel_persona %>" readonly>
                <br>
                <a href="/" class="my-3 h5 btn btn-primary mb-3 mr-2">Cerrar sesión</a>
                <br>
                <button id="deleteAccountBtn" class="my-3 h5 btn btn-danger mb-3 mr-2">Eliminar Cuenta</button>
                <br>
                <a href="/home"><i class="bi bi-chevron-left h5"></i></a>
                <a class="btn btn-primary mb-3 mr-2" href="/home"><i class="bi bi-arrow-left"></i> Volver</a>
            </div>
        </div>

    </div>

</div>

<script>
  document.getElementById('deleteAccountBtn').addEventListener('click', function() {
      const userConfirmed = confirm('¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer.');
      if (userConfirmed) {
          window.location.href = '/deleteAccount';
      }
  });
</script>

</body>

</html>